[branch]
    autosetuprebase = always

[pull]
    rebase = true

[core]
    ignorecase = false
    excludesFile = ~/Repos/dotfiles/git/.gitignore_global
[git]
	name = Hayden Sather
[user]
	name = Hayden Sather
	email = hrsather@proton.me
