[branch]
    autosetuprebase = always

[pull]
    rebase = true

[core]
    ignorecase = false
    excludesFile = ~/Repos/dotfiles/git/.gitignore_global
[git]
	name = Hayden Sather
[user]
	name = Hayden Sather
	email = hsather@axonengineering.io
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http "https://lfs.github.com"]
	sslVerify = false
