/* Remove all title bar buttons */
.titlebar-buttonbox-container {
    display: none !important;
}

/* Permanently hide the Bookmarks Toolbar */
#PersonalToolbar {
    display: none !important;
}

/* Hide Back and Forward buttons */
#back-button, #forward-button {
    display: none !important;
}

/* Hide the Refresh (Reload) button */
#reload-button {
    display: none !important;
}

/* Hide Shield (Tracking Protection) Icon */
#tracking-protection-icon-container {
    display: none !important;
}

/* Hide Lock (HTTPS) Icon */
#identity-icon {
    display: none !important;
}

/* Hide List all tabs button */
#alltabs-button {
    display: none !important;
}

/* Hide the Reader View button in the address bar */
#reader-mode-button {
    display: none !important;
}

/* Auto-hide the navigation bar (URL bar) */
#nav-bar {
    opacity: 0;
    transition: opacity 0.3s;
}

#nav-bar:hover {
    opacity: 1;
}


/* Center the url bar */
#urlbar .urlbar-input-box {
   text-align: center;
}
.urlbarView-row {
    justify-content: center !important;
}
.urlbarView-row-inner {
    max-width: max-content !important;
}
.urlbarView-no-wrap {
    max-width: 100% !important;
}

/* Hide url bar placeholder */
#urlbar-input::placeholder{ color: transparent }
